{% extends "base.html" %}

{% block title %}
    Welcome {{ user.username }}
{% endblock %}

{% block content %}
    <h2 tooltip-html-unsafe="You entered this <strong>strong</strong> element!" tooltip-trigger="mouseenter" tooltip-placement="right">Hello {{ user.username }}</h2>
    Here is the list of all your games


    <div class="row" ng-controller="HomeController">
        <div class="col-md-6">
            {% verbatim %}

            <h5></h5>
            <div class="ttt-spinner" ng-click="showActiveGames=!showActiveGames">
                <h3 class="ttt-inline">Active games</h3>
                <h3 class="ttt-inline" ng-class="ttt-spinner"> ↑ </h3>
                <h5></h5>
            </div>

            <div class="list-group bg-info" ng-show="showActiveGames">
                <a class="list-group-item list-group-item-info user-move"
                   ng-repeat="gameObj in activeGames"
                   ng-model="gameObj"
                   ng-init="setCssClass(gameObj)"
                   ng-click="toGamePage(gameObj)"
                   ng-class="gameObj.class">
                    <b><u>{{gameObj.first_player_username}}</u></b> vs <b><u>{{gameObj.second_player_username}}</u></b> - [{{ gameObj.status_string }}]
                    <span class="badge no-button" ng-click="forfeitGame($event, gameObj)" tooltip="test">X</span>
                    <span class="badge badge-move">{{ gameObj.moves_count }}</span><br>
                </a>
            </div>


            <div ng-click="showFinishedGames=!showFinishedGames">
                <h3 class="ttt-inline">Finished games</h3>
                <h3 class="ttt-inline" ng-class=""> ↑ </h3>
                <h5></h5>
            </div>

            <div class="list-group bg-info" ng-show="showFinishedGames">
                <a class="list-group-item list-group-item-info"
                   href="{{ gameObj.absolute_url }}"
                   ng-repeat="gameObj in finishedGames"
                   ng-model="gameObj"
                   ng-init="setCssClass(gameObj)"
                   ng-class="gameObj.class">
                    <b><u>{{gameObj.first_player_username}}</u></b> vs <b><u>{{gameObj.second_player_username}}</u></b> - [{{ gameObj.status_string }}]
                    <span class="badge badge-move">{{ gameObj.moves_count }}</span>
                </a>
            </div>


        </div>
        <div class="col-md-6">
            <h3 ng-click="showActiveInvitations=!showActiveInvitations">Active invitations</h3>

            <div class="list-group bg-info" ng-show="showActiveInvitations">
                <a class="list-group-item list-group-item-info"
                   ng-repeat="invitation in activeInvitations">
                    <b><u>{{ invitation.from_user_username }}</u></b> invited you to play.
                <span class="badge no-button" ng-click="declineInvitation(invitation)">N</span>
                <span class="badge yes-button" ng-click="acceptInvitation(invitation)">Y</span><br>
                </a>
            </div>

            <h3 ng-click="showPendingInvitations=!showPendingInvitations">Waiting for response</h3>

            <div class="list-group bg-info" ng-show="showPendingInvitations">
                <a class="list-group-item list-group-item-info"
                   ng-repeat="invitation in waitingResponseInvitations">
                    Waiting response from <b><u>{{ invitation.to_user_username }}</u></b>.
                <span class="badge no-button" ng-click="cancelInvitation(invitation)">X</span>
                </a>
            </div>

            <p>
                <select class="form-control" ng-options="user as user.username for user in userList"
                        ng-model="userToInvite" ng-init="">
                    <option value="">-- Select a user to invite --</option>
                </select>
                <button class="btn btn-primary" ng-click="inviteUser()">Send game invitation</button>
            {% endverbatim %}
            </p>
        </div>
    </div>

{% endblock %}