{% extends "base.html" %}

{% block title %}
    Home: {{ user.username }}
{% endblock %}

{% block content %}
    <h2>Hello {{ user.username }}</h2>
    Here is the list of all your games


    <div class="row" ng-controller="HomeController">
        <div class="col-md-6">
            {% verbatim %}
            <h3>Active games</h3>

            <div class="list-group bg-info">
                <a class="list-group-item list-group-item-info"
                   href="{{ gameObj.absolute_url }}"
                   ng-repeat="gameObj in activeGames">
                    {{ gameObj.string }}
                    <span class="badge">{{ gameObj.moves_count }}</span><br>
                </a>
            </div>

            <h3>Finished games</h3>

            <div class="list-group bg-info">
                <a class="list-group-item list-group-item-info"
                   href="{{ game.absolute_url }}" ng-repeat="game in finishedGames">
                    {{ game.string }}
                    <span class="badge">{{ game.moves_count }}</span>
                </a>
            </div>


        </div>
        <div class="col-md-6">
            <h3>Active invitations</h3>
                <div class="list-group bg-info">
                        <a class="list-group-item list-group-item-info"
                           ng-repeat="invitation in activeInvitations">
                            {{ invitation.from_user_username }} invited you to play.
                        <span class="badge" ng-click="declineInvitation(invitation)">N</span>
                        <span class="badge" ng-click="acceptInvitation(invitation)">Y</span><br>
                        </a>
            {% endverbatim %}
                </div>
            <p>
                <a class="btn btn-primary"
                   href="{% url 'player_new_invitation' %}">Send game invitation</a>
            </p>
        </div>
    </div>

{% endblock %}