.invitation-yes-button {
    background: linear-gradient(#0f9b0f, #000000);
    cursor: pointer;
}

.invitation-no-button {
    background: linear-gradient(#c31432, #000000);
    cursor: pointer;
}

.badge-move {
    background: linear-gradient(#2C5364, #203A43, #0F2027);
    cursor: pointer;
}

.user-move {
    background: radial-gradient(rgb(217, 247, 218), rgba(154, 220, 156, 0.85));
}

.opponent-move{
    background: radial-gradient(rgb(247, 221, 218), rgba(220, 154, 156, 0.85));
}

.game-win{
    background: radial-gradient(rgb(217, 247, 218), rgba(154, 220, 156, 0.85));
}

.game-lose{
    background: radial-gradient(rgb(247, 221, 218), rgba(220, 154, 156, 0.85));
}

.game-draw{
    background: radial-gradient(rgb(217, 218, 247), rgba(154, 156, 220, 0.85));
}

.invitation-yes-button:hover {
    transition: all 0.2s;
    opacity: 0.7;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}

.invitation-no-button:hover {
    transition: all 0.2s;
    opacity: 0.7;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}