{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  {{ game.first_player }} vs {{ game.second_player }} - {{ game.id }}
{% endblock %}

{% block styling %}
    {{ block.super }}
    <style type="text/css">
        .tictactoe-table{
            width: 300px;
            border-width: 2px
        }

        .tictactoe-cell-active {
            background-color: #debb27;
            width: 100px;
            height: 100px;
            text-align: center;
            vertical-align: middle !important;
            font-size: 60px;
        }

        .tictactoe-cell {
            background-color: #eed374;
            width: 100px;
            height: 100px;
            text-align: center;
            vertical-align: middle !important;
            font-size: 60px;
        }

        .button-cell {
            width: 80px;
            height: 80px;
            background:none;
            border:none;
            text-align: center;
            vertical-align: middle !important;
            font-size: 60px;
            outline:none;
        }

        .status {
            font-size: 20px;
        }
    </style>
{% endblock styling %}

{% block content %}
    <div class="col-md-5" ng-controller="BoardController">
        {% verbatim %}
        <div class="badge status">{{ status.message }}</div>
        <table class="table table-bordered tictactoe-table" >
                <tr ng-repeat="rows in board">
                    <td ng-class="cell.class"
                        ng-click="cellClick(cell)"
                        ng-repeat="cell in rows">
                        {{ cell.val }}
                    </td>
                </tr>
        </table>
        {% endverbatim %}
    </div>
{% endblock %}